* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: rgb(222, 222, 146);
}

.search-container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    background: rgba(219, 193, 193, 0.3);
    box-shadow: 0 0 10px #3c3636;
}

#city {
    width: 70%;
    padding: 10px;
    background: none;
    border: none;
    color: #171616;
    font-size: 20px;
    border-bottom: 1px solid #363636;
    text-shadow: 2px 2px 3px #363636;
}

#search-btn,
#city-add {
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    background: none;
    border: 1px solid #363636;
    color: #141414;
    text-shadow: 2px 2px 3px #363636;

}
#city-list {
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    background: none;
    border: 1px solid #363636;
    color: #141414;
    text-shadow: 2px 2px 3px #363636;
}
#city-remove {
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    background-color: red;
    border: 1px solid #363636;
    color: #141414;
    text-shadow: 2px 2px 3px #363636;
}

#search-btn:hover,
#city-add:hover {
    background: rgb(222, 222, 146);
    cursor: pointer;
}

#search-btn:active,
#city-add:active {
    transform: scale(0.9);
}

#result {
    width: 20%;
    margin: 40px auto 0 auto;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #363636;
}