body {
    height: 100vw;
    width: 100vw;
    background-color: rgb(86, 78, 69);
    background-size: 100%;

}
.drums {
    width: 95%;
    position: relative;
    top: 32vh;
    height: 20vh;
    display: flex;
    margin: 0 auto;
    border: 2px solid rgb(230, 222, 222);
    justify-content: space-evenly;
    align-items: center;
}

.boom {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.clap {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.hihat{
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.kick {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.openhat {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.ride {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.snare {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.tink {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}
.tom {
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(97, 13, 92);
    height: 80%;
    width: 8%;
    text-align: center;
    background-color: grey(0,0,0,0.4);
    transition: all 0.07s ease;
}

kbd {
    display: block;
    font-size: 2rem;
}
span {
    font-size: 1rem;
    color: rgb(230, 221, 221);
    text-transform: uppercase;
}
.hit {
    background-color: rgb(21, 109, 75);
}